<%= stylesheet_link_tag "search", :media => "all" %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

      <div class="sel-overlay">
        <div class="overlay-list">
          <ul></ul>
          <ul></ul>
        </div>
      </div>
      <!-- /overlay -->


<div class="sp-menu sp">
  <ul>
    <li><a href="/projects/new"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
    <li><a href="/search"><i class="fa fa-list"></i>ワード検索</a></li>
    <li><a href="/search"><i class="fa fa-asterisk"></i>カテゴリ検索</a></li>
    <li>
      <% if user_signed_in? %>
        <%= link_to user_path(current_user.id) %>
        <i class="fa fa-user"></i>マイページ
      <% end %>
    </li>
    <li><a href="/chat-list"><i class="fa fa-commenting-o"></i>チャット</a></li>
    <li class="close"><a href="#"><i class="fa fa-times-circle"></i>閉じる</a></li>
  </ul>
</div>
<section class="header">
  <div class="header-contents">
    <div class="fix-contents">
      <h4>Worth</h4>
      <!-- phone -->
      <a class="fix-list sp" href="javascript:false">
        <i class="fa fa-bars sp-bar"></i>
      </a>
      <!-- phone -->

      <ul class="fix-list pc">
        <li><a href="/projects/new"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
        <li><a href="/search"><i class="fa fa-search"></i>探す</a></li>
        <li  class="drop-child">
          <a href="#"><i class="fa fa-user"></i>ユーザー<i class="fa fa-caret-down"></i></a>
          <ul class="drop-down">
            <li><hr></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to 'マイページ', user_path(current_user.id) %>
              <% end %>
            </li>
            <li>
              <% if user_signed_in? %>
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                  <% else %>
                    <%= link_to 'ログイン', new_user_session_path %>
                  <% end %>
            </li>
          </ul>
        </li>
        <li><a href="/chat-list"><i class="fa fa-commenting-o"></i>チャット</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="main">
  <h3><i class="fa fa-search"></i>プロジェクトを探す</h3>
  <p>さぁ、あなたも気になるプロジェクトを見つけましょう。</p>
  <div class="search-wra">
    <div class="search-box keyword">
      <!-- keyword -->
      <h4><i class="fa fa-futbol-o"></i>キーワード検索</h4>
      <%= form_tag :search_projects, method: :get do %>
        <%= text_field_tag "q", params[:q],placeholder:"キーワード"  %><i class="fa fa-search form-icon"></i>
        <div class="submit"><i class="fa fa-search"></i>検索<%= submit_tag "検索" %></div>
      <% end %>

    </div>
    <div class="search-box tags">
      <!-- tags -->

      <!-- overlay -->

      <h4><i class="fa fa-tags"></i>カテゴリ検索</h4>
      <%= form_tag :category_projects, method: :get do %>
        <div class="sel-box">
          <p class="selected"><!-- 現在セレクトしてるもの --></p>
          <%= select :p, :category, @options, include_blank: '選択してください'%>
        </div>
        <div class="submit"><i class="fa fa-search"></i>検索<%= submit_tag "検索" %></div>
      <% end %>
    </div>
  </div>
</section>
<section class="footer">
  <div class="first">
    <ul>
      <li><a href="#">プロジェクトを作る</a></li>
      <li><a href="#">Worseについて</a></li>
    </ul>
  </div>
  <div class="second">
    <div class="one-block">
      <h5>Menu</h5>
      <ul>
        <li><a href="/projects/new">プロジェクトを作る</a></li>
        <li><a href="/search">ワード検索</a></li>
        <li><a href="/search">カテゴリ検索</a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'ユーザーページ', user_path(current_user.id) %></li>
        <% end %>
        <li><a href="/chat-list">チャット</a></li>
        <li>
                <a rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
        </li>
      </ul>
    </div>
    <div class="twe-block">
      <h5>developer</h5>
      <ul>
        <li><a href="https://twitter.com/nyaratakumi">@nyaratakumi</a></li>
        <li><a href="https://twitter.com/_Ghostrick_">@_Ghostrick_</a></li>
        <li><a href="https://twitter.com/Tobira_xiexie">@Tobira_xiexie</a></li>
      </ul>
    </div>
    <div class="three-block">
    </div>
  </div>
  <div class="clear"></div>
</section>


<script type="text/javascript">
$(function(){



/* ------------------------------------------------- */
  /* ------------------------------------------------- */
  /* 					menu 	 						 */
  /* ------------------------------------------------- */
  /* ------------------------------------------------- */
$(window).scroll(function (){
      var header_top = $(".fix-contents").offset().top;
      if( header_top <= $(this).scrollTop() ){
        $('.fix-contents').addClass('fix');
      }
      if(  $(this).scrollTop() == 0 )  {
        $('.fix-contents').removeClass('fix');
      }
  });

var sp_menu = $('.sp-menu');

$('.fix-list.sp').on('click',function(){
  if(!$(sp_menu).hasClass('show')){
    $(sp_menu).addClass('show');
    $('.fix-contents').addClass('fix');
  } else {
    $(sp_menu).removeClass('show');
    $('.fix-contents').removeClass('fix');
  }
});

$('.sp-menu > ul > .close').on('click',function(){
  $(sp_menu).removeClass('show');
  $('.fix-contents').removeClass('fix');
});


  $('.drop-child').hover(
    function(){
      var targetEl = $(this).find('ul');
      targetEl.css({display:'block'});
    targetEl.find('li').animate({top:'0',opacity:'1'},300);
    },function(){
      var targetEl = $(this).find('ul');
        targetEl.find('li').css({top:'-10px',opacity:'0'});
      targetEl.css({'display':'none'});
    }
  );


  // overlay
// default text
var now_sel = $('.sel-box > select').children('option:selected').text();
$('.selected').text(now_sel);


var li_html1 = '',
  li_html2 = '',
  list_count = $('.sel-box > select > option').length;

$('.sel-box > select').children('option').each(function(index){
  val = $(this).val();
  text = $(this).text();
  li_item  =  '<li class="overlay_content" select-data="' + val + '"><a href="javascript:false">' +
          text +
        '</a></li>';
  if (index != 0){
    if(index <= list_count / 2){
      li_html1 += li_item;
    }
    if(index > list_count / 2){
      li_html2 += li_item;
    }
  }
});
$('.sel-overlay ul:first-child').append(li_html1);
$('.sel-overlay ul:last-child').append(li_html2);

$('.sel-box').on('click',function(){
  $('.sel-overlay').show(0,function(){
    $(this).addClass('show-sel-overlay');
  });
});

$('.sel-overlay ul').on('click','li > a',function(){
  /* color change */
  $('.sel-overlay a').removeClass('selected-li');
  $(this).addClass('selected-li');

  data = $(this).parent('li').attr('select-data');
  $(".sel-box > select").val(data);
  $('.selected').text(data);
  $('.sel-overlay').removeClass('show-sel-overlay');
  setTimeout(function(){
    $('.sel-overlay').hide(0);
  },250);
});



});
</script>
