<!-- ユーザー情報編集 -->
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <p><%= @user.errors.count %>件のエラーがあります。</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.label :job %>
  <%= f.select :job, @jobs %>
  <%= f.label :gender %>
  <%= f.radio_button :gender, 0 %>男
  <%= f.radio_button :gender, 1 %>女
  <%= f.label :introduction %>
  <%= f.text_area :introduction %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit '更新' %>

<% end %>
