

					<div class="item-space">
						<div class="main-item">
							<a class="img_link" href="#">
								<%= image_tag "/project_images/#{project.image}" ,:size => '30x20'%>
							</a>
							<h3 class="item-title">
								<%= link_to project.title, project_path(project.id) %>
							</h3>
							<p>
								<i class="fa fa-check-square-o"></i><%= project.caption %>
							</p>
							<p>
								<i class="fa fa-user"></i><%= project.user.username %>
							</p>
							<p>
								<i class="fa fa-tag"></i><%= what_tag(project) %>
							</p>
							<p class="hart">
								<i class="fa fa-heart"></i><%= project.likes.count %>
							</p>
						</div>
					</div>