<h1><%= @room.project.title %></h1>
<%= @owner.username %>

<%= form_tag(:message, :remote => true) do %>
  <%= text_field_tag 'message' %>
  <%= text_field_tag 'ch' %>
  <%= submit_tag 'send' %>
<% end %>
<div id='messagelog'></div>

<script src="https://js.pusher.com/3.1/pusher.min.js"></script>
<script type="text/javascript">
Pusher.logToConsole = true;

var pusher = new Pusher('a774d21cd6a18ea2d2f0');
var channel = pusher.subscribe('general_channel');
channel.bind('chat_event', function(data) {
var messagelog = document.getElementById('messagelog');
var messagediv = document.createElement('div');
messagediv.innerHTML = data.message;
messagelog.appendChild(messagediv);
});
</script>
<script>
/*
  $(document).ready(function(e) {
    var dispatcher = new WebSocketRails('localhost:3000/websocket');
    var channel = dispatcher.subscribe('<%= @room.channel %>');

    var form = document.getElementById("form");
    var text_input = document.getElementById("text_input");
    var msg_box = document.getElementById("msg_box");

    form.onsubmit = function(e){
      // submitされたときsend_messageイベントを発火してサーバにメッセージとチャネル名を送信
        dispatcher.trigger("send_message", { msg: text_input.value, ch: '<%= @room.channel %>' });
        e.preventDefault();
      }

    channel.bind('post', function(data) {
      // 対応するchannelのpostイベントを監視し発火したらサーバから受け取ったデータを出力
      // data = { msg: "something", ch: "something", user: something }
      var li = document.createElement("li");
      li.textContent = data.msg + ":" + data.user.username;
      msg_box.appendChild(li);
    });
  });

  */
</script>
