    <%= stylesheet_link_tag "chat", :media => "all" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'jquery.oncssanimationend', 'data-turbolinks-track' => true %>
    <div class="sp-menu sp">
      <ul>
          <li><a href="#"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
          <li><a href="#"><i class="fa fa-list"></i>ワード検索</a></li>
          <li><a href="#"><i class="fa fa-asterisk"></i>カテゴリ検索</a></li>
          <li>
              <%= link_to  user_path(current_user.id) do %>
              <i class="fa fa-user"></i>マイページ
              <% end %>
          </li>
          <li><a href="#"><i class="fa fa-commenting-o"></i>チャット</a></li>
          <li class="close"><a href="#"><i class="fa fa-times-circle"></i>閉じる</a></li>
      </ul>
    </div>
        <section class="header">
        <div class="header-contents">
            <div class="fix-contents">
                <h4>Worth</h4>
                <!-- phone -->
                <a class="fix-list sp" href="javascript:false">
                    <i class="fa fa-bars sp-bar"></i>
                </a>
                <!-- phone -->

                <ul class="fix-list pc">
                    <li><a href="#"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
                    <li><a href="#"><i class="fa fa-search"></i>探す</a></li>
                    <li  class="drop-child">
                        <a href="#"><i class="fa fa-user"></i>ユーザー<i class="fa fa-caret-down"></i></a>
                        <ul class="drop-down">
                            <li><hr></li>
                            <li>
                                <%= link_to 'マイページ', user_path(current_user.id) %>
                            </li>
                            <li>
                                <% if user_signed_in? %>
                                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                                <% else %>
                                    <%= link_to 'ログイン', new_user_session_path %>
                                <% end %>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-commenting-o"></i>チャット</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="chat">
        <div class="chat-wra">
            <h5>Chat</h5>
            <div class="msg-wra">
                <% @messages.each do |message| %>
                    <div class="message-box">
                    <% if message.user.image %>
                      <%= image_tag "/user_images/#{message.user.image}" %>
                    <% else %>
                      <%= image_tag "default.jpeg" %>
                    <% end %>
                    <p class="msg-name"><%= message.user.username %></p>
                    <p class="msg-text"><%= message.body %></p>
                    </div>
                <% end %>
            </div>
        </div>
        <%= form_tag(:message_project, :remote => true) do %>
        <div class="send-wra">
            <textarea rows="3" name="message"></textarea>
            <div class="send">
            <%= submit_tag 'send' %>
                <p><i class="fa fa-paper-plane" aria-hidden="true"></i>send</p>
            </div>
        </div>
        <% end %>

        <div class="chat-info">
            <div class="icon-wra">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="info-text">
                <h6 class="project-name"><%= @room.project.title %></h6>
                <p class="project-caption">
                    <span>
                        <i class="fa fa-check-square-o sq"></i>
                        <%= @room.project.caption %>
                    </span>
                </p>
                <p class="owner-name">
                    <span>
                        <i class="fa fa-user sq" aria-hidden="true"></i>
                        <%= link_to @owner.username, user_path(@owner) %>
                    </span>
                </p>
            </div>
            <p class="view-project">
                <%= link_to 'プロジェクトを見る ', project_path(@room.project.id) %>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </p>
        </div>

    </section>
    <section class="footer">
        <div class="first">
            <ul>
                <li><a href="#">プロジェクトを作る</a></li>
                <li><a href="#">Worseについて</a></li>
            </ul>
        </div>
        <div class="second">
            <div class="one-block">
                <h5>Menu</h5>
                <ul>
                    <li><a href="#">プロジェクトを作る</a></li>
                    <li><a href="#">ワード検索</a></li>
                    <li><a href="#">カテゴリ検索</a></li>
                    <li><a href="#">ユーザーページ</a></li>
                    <li><a href="#">チャット</a></li>
                    <li>
                        <% if user_signed_in? %>
                            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                        <% else %>
                            <%= link_to 'ログイン', new_user_session_path %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <div class="twe-block">
                <h5>developer</h5>
                <ul>
                    <li><a href="#">@nyaratakumi</a></li>
                    <li><a href="#">@_Ghostrick_</a></li>
                    <li><a href="#">@Tobira_xiexie</a></li>
                </ul>
            </div>
            <div class="three-block">
            </div>
        </div>
        <div class="clear"></div>
    </section>

    <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
    <script type="text/javascript">



$(function(){

    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    /*                  menu                             */
    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    $(window).scroll(function (){
        var header_top = $(".fix-contents").offset().top;
        if( header_top <= $(this).scrollTop() ){
            $('.fix-contents').addClass('fix');
        }
        if(  $(this).scrollTop() == 0 )  {
            $('.fix-contents').removeClass('fix');
        }
    });

    var sp_menu = $('.sp-menu');

    $('.fix-list.sp').on('click',function(){
        if(!$(sp_menu).hasClass('show')){
            $(sp_menu).addClass('show');
            $('.fix-contents').addClass('fix');
        } else {
            $(sp_menu).removeClass('show');
            $('.fix-contents').removeClass('fix');
        }
    });

    $('.sp-menu > ul > .close').on('click',function(){
        $(sp_menu).removeClass('show');
        $('.fix-contents').removeClass('fix');
    });


    $('.drop-child').hover(
        function(){
            var targetEl = $(this).find('ul');
            targetEl.css({display:'block'});
            targetEl.find('li').animate({top:'0',opacity:'1'},300);
        },function(){
            var targetEl = $(this).find('ul');
            targetEl.find('li').css({top:'-10px',opacity:'0'});
            targetEl.css({'display':'none'});
        }
    );


    var pusher = new Pusher('a774d21cd6a18ea2d2f0', {
     encrypted: true
    });
    var channel = pusher.subscribe('<%= @room.channel %>');

    var msg_box = $('.msg-wra');
/*
    $('form .send').on('click',function(){
        $('form textarea').val("");
    });
*/

    channel.bind('chat_event', function(data) {
      if (data.user.image) {
        icon = '<img src="/user_images/' + data.user.image + '">'
      } else {
        icon = '<%= image_tag "default.jpeg" %>'
      }

      append_content = $('<div class="message-box">' +
                              icon +
                              '<p class="msg-name">' + data.user.username + '</p>' +
                              '<p class="msg-text">' + data.message + '</p>' +
                          '</div>');

      $(msg_box).append(append_content);
    });
});
</script>
