    <%= stylesheet_link_tag "chat-list", :media => "all" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'jquery.oncssanimationend', 'data-turbolinks-track' => true %>
    <div class="sp-menu sp">
      <ul>
          <li><a href="/projects/new"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
          <li><a href="/search"><i class="fa fa-list"></i>ワード検索</a></li>
          <li><a href="/search"><i class="fa fa-asterisk"></i>カテゴリ検索</a></li>
          <li>
              <%= link_to user_path(current_user.id) do %>
              <i class="fa fa-user"></i>マイページ
              <% end %>
          </li>
          <li><a href="/chat-list"><i class="fa fa-commenting-o"></i>チャット</a></li>
          <li class="close"><a href="#"><i class="fa fa-times-circle"></i>閉じる</a></li>
      </ul>
    </div>
        <section class="header">
        <div class="header-contents">
            <div class="fix-contents">
                <h4>Worth</h4>
                <!-- phone -->
                <a class="fix-list sp" href="javascript:false">
                    <i class="fa fa-bars sp-bar"></i>
                </a>
                <!-- phone -->

                <ul class="fix-list pc">
                    <li><a href="/projects/new"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
                    <li><a href="/search"><i class="fa fa-search"></i>探す</a></li>
                    <li  class="drop-child">
                        <a href="#"><i class="fa fa-user"></i>ユーザー<i class="fa fa-caret-down"></i></a>
                        <ul class="drop-down">
                            <li><hr></li>
                            <li>
                                <%= link_to 'マイページ', user_path(current_user.id) %>
                            </li>
                            <li>
                                <% if user_signed_in? %>
                                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                                <% else %>
                                    <%= link_to 'ログイン', new_user_session_path %>
                                <% end %>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/chat-list"><i class="fa fa-commenting-o"></i>チャット</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="chat-list">
        <div class="list-wra">
            <div class="list-head">
                <h5>過去のチャット一覧</h5>
            </div>
            <div class="list-body">
              <% @lists.each do |list| %>
                <%= render 'projects/list', list: list %>
              <% end %>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="first">
            <ul>
                <li><a href="/projects/new">プロジェクトを作る</a></li>
                <li><a href="#">Worthについて</a></li>
            </ul>
        </div>
        <div class="second">
            <div class="one-block">
                <h5>Menu</h5>
                <ul>
                    <li><a href="/projects/new">プロジェクトを作る</a></li>
                    <li><a href="/search">ワード検索</a></li>
                    <li><a href="/search">カテゴリ検索</a></li>
                    <li><%= link_to 'ユーザーページ', user_path(current_user.id) %></li>
                    <li><a href="/chat-list">チャット</a></li>
                    <li>
                        <% if user_signed_in? %>
                            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                        <% else %>
                            <%= link_to 'ログイン', new_user_session_path %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <div class="twe-block">
                <h5>developer</h5>
                <ul>
                    <li><a href="https://twitter.com/nyaratakumi">@nyaratakumi</a></li>
                    <li><a href="https://twitter.com/_Ghostrick_">@_Ghostrick_</a></li>
                    <li><a href="https://twitter.com/Tobira_xiexie">@Tobira_xiexie</a></li>
                </ul>
            </div>
            <div class="three-block">
            </div>
        </div>
        <div class="clear"></div>
    </section>


    <script type="text/javascript">



$(function(){

    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    /*                  menu                             */
    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    $(window).scroll(function (){
        var header_top = $(".fix-contents").offset().top;
        if( header_top <= $(this).scrollTop() ){
            $('.fix-contents').addClass('fix');
        }
        if(  $(this).scrollTop() == 0 )  {
            $('.fix-contents').removeClass('fix');
        }
    });

    var sp_menu = $('.sp-menu');

    $('.fix-list.sp').on('click',function(){
        if(!$(sp_menu).hasClass('show')){
            $(sp_menu).addClass('show');
            $('.fix-contents').addClass('fix');
        } else {
            $(sp_menu).removeClass('show');
            $('.fix-contents').removeClass('fix');
        }
    });

    $('.sp-menu > ul > .close').on('click',function(){
        $(sp_menu).removeClass('show');
        $('.fix-contents').removeClass('fix');
    });


    $('.drop-child').hover(
        function(){
            var targetEl = $(this).find('ul');
            targetEl.css({display:'block'});
            targetEl.find('li').animate({top:'0',opacity:'1'},300);
        },function(){
            var targetEl = $(this).find('ul');
            targetEl.find('li').css({top:'-10px',opacity:'0'});
            targetEl.css({'display':'none'});
        }
    );



});
</script>
