<h1>プロジェクト一覧</h1>

<%= form_tag :search_projects, method: :get do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
<% end %>

<%= form_tag :category_projects, method: :get do %>
  <%= select :p, :category, @options, include_blank: '選択してください' %>
  <%= submit_tag "検索" %>
<% end %>

<!-- renderで_project.html.erbへ -->
<ul>
  <%= render @projects %>
</ul>
