    <%= stylesheet_link_tag "project", :media => "all" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'jquery.oncssanimationend', 'data-turbolinks-track' => true %>
    <div class="sp-menu sp">
      <ul>
          <li><a href="#"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
          <li><a href="#"><i class="fa fa-list"></i>ワード検索</a></li>
          <li><a href="#"><i class="fa fa-asterisk"></i>カテゴリ検索</a></li>
          <li>
              <%= link_to  user_path(current_user.id) do %>
              <i class="fa fa-user"></i>マイページ
              <% end %>
          </li>
          <li><a href="#"><i class="fa fa-commenting-o"></i>チャット</a></li>
          <li class="close"><a href="#"><i class="fa fa-times-circle"></i>閉じる</a></li>
      </ul>
    </div>
        <section class="header">
        <div class="header-contents">
            <div class="fix-contents">
                <h4>Worth</h4>
                <!-- phone -->
                <a class="fix-list sp" href="javascript:false">
                    <i class="fa fa-bars sp-bar"></i>
                </a>
                <!-- phone -->

                <ul class="fix-list pc">
                    <li><a href="#"><i class="fa fa-sticky-note"></i>新規掲載</a></li>
                    <li><a href="#"><i class="fa fa-search"></i>探す</a></li>
                    <li  class="drop-child">
                        <a href="#"><i class="fa fa-user"></i>ユーザー<i class="fa fa-caret-down"></i></a>
                        <ul class="drop-down">
                            <li><hr></li>
                            <li>
                                <%= link_to 'マイページ', user_path(current_user.id) %>
                            </li>
                            <li>
                                <% if user_signed_in? %>
                                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                                <% else %>
                                    <%= link_to 'ログイン', new_user_session_path %>
                                <% end %>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-commenting-o"></i>チャット</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="project">

        <div class="project-wrapper">
            <h3 class="project-title"><%= @project.title %></h3>
            <div class="project-img">
                <div class="img-wra"><%= image_tag "/project_images/#{@project.image}" %></div>
            </div>
            <div class="project-status">
                <ul>
                    <li class="tag"><i class="fa fa-tag" aria-hidden="true"></i><%= what_tag(@project) %></li>
                    <li class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>20xx / xx / xx</li>
                    <li class="user"><i class="fa fa-user" aria-hidden="true"></i><%= link_to @project.user.username, user_path(@project.user) %></li>
                </ul>
            </div>
            <div class="project-text">
                <%= @project.description %>
            </div>
            <div class="action-btn">
                <% if user_signed_in? %>
                    <% if current_user.likes.find_by(project_id: @project.id) %>
                        <div class="del">
                            <%= link_to unlike_path(@project.id), method: :delete do %>
                                <i class="fa fa-heart" aria-hidden="true"></i>いいね！を取り消す
                            <% end %>
                        </div>
                    <% else %>
                        <div class="like">
                            <%= link_to like_path(@project.id), method: :post do%>
                                <i class="fa fa-heart" aria-hidden="true"></i>いいね！
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
                <div class="chat"><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>チャット</a></div>
                <% if current_user?(@project.user) %>
                    <div class="trash">
                        <%= link_to project_path(@project.id), method: "delete", "data-confirm" => "本当に削除しますか？" do %>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>削除
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="owner-info">
            <div class="img-wra">
                <%= image_tag "/user_images/#{@project.user.image}" %>
            </div>
            <div class="info-text">
                <h6 class="owner-name"><%= @project.user.username %></h6>
                <p class="project-count">
                    <span>
                        <i class="fa fa-file-text-o sq" aria-hidden="true"></i>
                        他に<%=  @project.user.projects.count - 1 %>件のプロジェクトがあります
                    </span>
                </p>
                <p class="owner-job">
                    <span>
                        <i class="fa fa-cog sq" aria-hidden="true"></i>
                        <%= @project.user.job %>
                    </span>
                </p>
            </div>
            <p class="view-profile">
                <%= link_to 'プロフィールを見る ', user_path(@project.user) %>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </p>
        </div>
    </section>
    <section class="footer">
        <div class="first">
            <ul>
                <li><a href="#">プロジェクトを作る</a></li>
                <li><a href="#">Worseについて</a></li>
            </ul>
        </div>
        <div class="second">
            <div class="one-block">
                <h5>Menu</h5>
                <ul>
                    <li><a href="#">プロジェクトを作る</a></li>
                    <li><a href="#">ワード検索</a></li>
                    <li><a href="#">カテゴリ検索</a></li>
                    <li><a href="#">ユーザーページ</a></li>
                    <li><a href="#">チャット</a></li>
                    <li>
                        <% if user_signed_in? %>
                            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                        <% else %>
                            <%= link_to 'ログイン', new_user_session_path %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <div class="twe-block">
                <h5>developer</h5>
                <ul>
                    <li><a href="#">@nyaratakumi</a></li>
                    <li><a href="#">@_Ghostrick_</a></li>
                    <li><a href="#">@Tobira_xiexie</a></li>
                </ul>
            </div>
            <div class="three-block">
            </div>
        </div>
        <div class="clear"></div>
    </section>

    <script type="text/javascript">



$(function(){

    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    /*                  menu                             */
    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    $(window).scroll(function (){
        var header_top = $(".fix-contents").offset().top;
        if( header_top <= $(this).scrollTop() ){
            $('.fix-contents').addClass('fix');
        }
        if(  $(this).scrollTop() == 0 )  {
            $('.fix-contents').removeClass('fix');
        }
    });

    var sp_menu = $('.sp-menu');

    $('.fix-list.sp').on('click',function(){
        if(!$(sp_menu).hasClass('show')){
            $(sp_menu).addClass('show');
            $('.fix-contents').addClass('fix');
        } else {
            $(sp_menu).removeClass('show');
            $('.fix-contents').removeClass('fix');
        }
    });

    $('.sp-menu > ul > .close').on('click',function(){
        $(sp_menu).removeClass('show');
        $('.fix-contents').removeClass('fix');
    });


    $('.drop-child').hover(
        function(){
            var targetEl = $(this).find('ul');
            targetEl.css({display:'block'});
            targetEl.find('li').animate({top:'0',opacity:'1'},300);
        },function(){
            var targetEl = $(this).find('ul');
            targetEl.find('li').css({top:'-10px',opacity:'0'});
            targetEl.css({'display':'none'});
        }
    );


    /* ----------------------- */
    /*         text            */
    /* ----------------------- */
    preview_text = $(".project-text").text();

    preview_text = preview_text.replace(/\n/g,"<br>\n");
    preview_text = preview_text.replace(/\*(.*)\*/g, '<span class="bold">$1</span>');
    preview_text = preview_text.replace(/\###(.*)\<br>/g, '<h6 class="small-title">$1</h6>');
    preview_text = preview_text.replace(/\##(.*)\<br>/g, '<h6 class="min-title">$1</h6>');
    preview_text = preview_text.replace(/\#(.*)\<br>/g, '<h5 class="min-title">$1</h5>');
    preview_text = preview_text.replace( /\[(.*)\]\((.*)\)/g , '<a href="$2">$1</a>' );
    $( '.project-text' ).html(preview_text);



    /* action - btn */
    if($('.action-btn > div').length == 3){
        $('.action-btn').css({width:'85%'});
        $('.action-btn > div').css({width:'calc(100% / 3)'});
    }

});
</script>
