<%= stylesheet_link_tag "sign", :media => "all" %>
<%= javascript_include_tag 'canvas' %>
<canvas id="canvas-script"></canvas>
<div class="login-page">
  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.text_field :username, autofocus: "off", placeholder:'your name' %>
      <%= f.email_field :email, autofocus: "off",placeholder: 'e-mail' %>
      <%= f.password_field :password, autocomplete: "off", placeholder:'password' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:'password' %>
      <button>
        create
        <%= f.submit "Sign up" %>
    </button>
      <p class="message"><a href="#">ログイン画面へ</a></p>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, placeholder: 'e-mail' %>
      <%= f.password_field :password, placeholder: 'password' %>
      <button>
        login
        <%= f.submit %>
      </button>
      <p class="message">初めてですか? <a href="#">アカウント作成</a></p>
      <hr>
      <button>
        <%= link_to 'Twitterログイン', user_twitter_omniauth_authorize_path %>

      </button>
      <% end %>
  </div>
</div>
<script>
$(function(){
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"},500);
});

bganime('canvas-script');

});



</script>
